.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    outline: 2px solid #000;
    border: 3px solid #fff;
    border-radius: 10px;
    justify-content: space-around;
    box-shadow: 10px 5px 5px grey;
}

label {
    display: flex;
    justify-content: space-between;
}

table {
    border: 1px solid #ccc;
    border-spacing: 3px;
}

td, th{
    border: solid 1px #ccc;
}
.collapsed{
    border-collapse: collapse;
}
.separated{
    border-collapse: separate;
}